.w1440px {
    width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #010201;
}

header {
    height: 134px;
    background-color: #EDF2EC;
}

.navbar {
    position: relative;
    width: 1220px;
    height: 50px;
    left: 111px;
    top: 42px;
    display: flex;
}

.navbar nav {
    width: 452px;
    height: 50px;
    margin-left: 689px;
}

.navbar ul {
    display: flex;
    padding: 0;
}

.navbar li {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
}

header .logo {
    position: relative;
    width: 79px;
    height: 21px;
    top: 10px;
}

header .navbar {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.welcome {
    width: 1440px;
    margin: auto;
    display: flex;
    height: 532px;
    padding: 62px 109px;
    box-sizing: border-box;
    background-color: #EDF2EC;
}

.leafs {
    position: relative;
    width: 448.8px;
    height: 407.36px;
}

.welcome_text {
    margin-left: 224px;
    margin-top: 36px;
}

.welcome_text h1 {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    width: 549px;
    height: 101px;
}

.welcome_text p {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    width: 525.44px;
    height: 105px;
}

.welcome_text .learn_more {
    position: relative;
    box-sizing: border-box;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    bottom: 0px;
}

.welcome_text .learn_more:hover {
    color: #EDF2EC;
    transition: 500ms;
    background-color: #E06733;
}

.about {
    display: flex;
    background-color: #FFFFFF;
    width: 1440px;
    height: 666px;
    box-sizing: border-box;
    padding: 93px 109px;
}

.about .about_text {
    width: 605px;
    height: 350px;
    margin-top: 68px;
}

.about .about_text h2{
    width: 463px;
    height: 102px;
    font-family: 'Inika', serif;
    font-style: normal;
    color: #499A18;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin: 0;
}

.about .about_text p {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    width: 605px;
    height: 208px;
}

.about img {
    margin-left: 153px;
}

.service {
    background-color: #EDF2EC;
    width: 1440px;
    margin: auto;
    height: 1300px;
    box-sizing: border-box;
    padding: 40px 109px 121px;
}

.service .services_content {
    width: 1007px;
    height: 94px;
    display: inline-flex;
    align-items: center;
}

.service .services_content h2 {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    width: 306px;
    height: 94px;
    margin: 0;
    display: flex;
}

.service .services_content .services_btns {
    display: flex;
    margin-left: 142px;
    justify-content: space-between;
    width: 559px;
    height: 50px;
}

.service .services_content .services_btns .btn {
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    cursor: pointer;
}


.service .services_content .services_btns .btn:hover {
    color: #EDF2EC;
    transition: 500ms;
    background-color: #E06733;
}

.service .services {
    display: flex;
    margin-top: 90px;
    width: 1222px;
    height: 955px;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service .services .service_item {
    display: grid;
    width: 330px;
    height: 450px;
}

.service .services .service_item img {
    border-radius: 20px 20px 0px 0px;
}

.service .services .service_item .rectangle {
    box-sizing: border-box;
    width: 330px;
    height: 100px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service .services .service_item .rectangle h2 {
    margin: 10px 0 0 0;
}

.service .services .service_item .rectangle h2 a {
    display: flex;
    width: 120px;
    height: 24px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    margin: 10px auto 0;
    justify-content: center;
}

.service .services .service_item .rectangle p {
    margin: 10px 31px 0;
    width: 267.19px;
    height: 20px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

.prices {
    box-sizing: border-box;
    padding: 40px 109px 115px;
    width: 1440px;
    height: 560px;
    background: #FFFFFF;
}

.prices .prices_wrapper {
    width: 1222px;
    height: 405px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.prices .prices_wrapper .leafs {
    position: absolute;
    width: 152px;
    height: 174.99px;
    bottom: 0;
    right: 0;
}

.prices .prices_wrapper .prices_bar {
    width: 332px;
    height: 391.01px;
}

.prices .prices_wrapper .prices_bar h2 {
    width: 135px;
    height: 49px;
    margin: 0;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices .prices_wrapper .prices_bar .prices_items {
    display: flex;
    box-sizing: border-box;
    padding: 34px 41px;
    width: 332px;
    height: 282.01px;
    margin-top: 60px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.prices .prices_wrapper .prices_bar .prices_items .prices_item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px 40px;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.prices .prices_wrapper .prices_bar .prices_items .prices_item .accordeon_btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D9D9D9;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
}

.prices .prices_wrapper .text_call_us {
    display: flex;
    width: 452px;
    height: 191.01px;
    flex-direction: column;
    align-items: flex-end;
}

.prices .prices_wrapper .text_call_us h2 {
    width: 452px;
    height: 103px;
    margin: 0;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
}

.prices .prices_wrapper .text_call_us .btn {
    box-sizing: border-box;
    width: 161px;
    height: 50px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    cursor: pointer;
    margin-top: 38px;
}

.prices .prices_wrapper .text_call_us .btn:hover {
    color: #EDF2EC;
    transition: 500ms;
    background-color: #E06733;
}

.contacts {
    box-sizing: border-box;
    padding: 0 109px;
    width: 1440px;
    height: 550px;
    margin: auto;
    display: flex;
}

.contacts p {
    margin: 60px 64px 0 113px;
    width: 195px;
    height: 51px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contacts .city {
    margin: 148px 0 0 0;
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px 35px 5px 20px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.contacts .city .accordeon_btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D9D9D9;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    margin-top: 12px;
}

footer {
    width: 1440px;
    height: 130px;
    margin: auto;
    box-sizing: border-box;
    padding: 40px 109px;
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

footer .footer_data {
    height: 50px;
    width: 182px;
    display: flex;
    justify-content: space-between;
}

footer .social_list {
    width: 188px;
    height: 50px;
    box-sizing: border-box;
    padding: 9px 3px;
    display: flex;
    justify-content: space-between;
}