body {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    margin-left: 10%;
  }

@media screen and (max-width: 1017px) {
    body {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        width: 300px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    .left-side {
        background-color: #202126;
        flex: 2;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
  }

  @media screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        width: 300px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
  }

.left-side {
    background-color: #212026;
    flex: 2;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.left-side .avatar {
    width: 100%;
} 

.left-side .education {
    margin-left: 10%;
}

.left-side .education h1 {
    text-transform: uppercase;
}

.left-side .underscore {
    background-color: #ffd401;
    height: 2px;
}

.left-side .education .university {
    margin-left: 10%;
    font-size: 1.1em;
    text-transform: capitalize;
}

.left-side .education .specialization {
    margin-left: 12%;
    font-size: 1em;
    text-transform: capitalize;
}

.contacts {
    display: flex;
    flex-direction: row;
}

.contacts .yellow_box {
    flex: 2;
    background-color: #ffd401;
}

.contacts .contact_name {
    flex: 10;
    background-color: #292a2f;
    color: white;
}

.contacts .contact_name p {
    margin: 2px 20px;
}

.contact {
    margin: 2px 20%;
}



.right-side {
    background-color: #ffffff;
    flex: 4;
    color: #2d2d2d;
}

header {
    margin: 10% 0;
    background-color: #ffd401;
}

header .p1 {
    text-transform: uppercase;
    font-size: 3em;
    padding: 10% 20% 0;
    margin-bottom: 0;
}

header .p2 {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0 20% 5%;
    margin-top: 0;
}

.right-side .right-block h1 {
    margin-left: 10%;
    text-transform: uppercase;
}

.right-side .right-block .underscore {
    height: 2px;
    background-color: #2d2d2d;
    margin-left: 10%;
}

.right-side .right-block p {
    margin: 3% 8% 3% 15%;
}
